@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

/* -------------------------------------------------------------------------- */

/*                                variables css                               */

/* -------------------------------------------------------------------------- */

:root {
    --header-height: 3rem;
    /* ------------------------------- font Weight ------------------------------ */
    --font-medium: 500;
    --font-semi-bold: 600;
    --font--bold: 700;
    /* --------------------------------- Colors --------------------------------- */
    --dark-color: #41444B;
    --dark-color-light: #52575D;
    --dark-color-lighten: #eeeeee;
    --sizzling-zunrise: #fddb3a;
    --white-color: #fff;
    /*===== Font and typography =====*/
    --body-font: 'Montserrat', sans-serif;
    --big-font-size: 1.25rem;
    --bigger-font-size: 1.5rem;
    --biggest-font-size: 2rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: 0.938rem;
    --smaller-font-size: 0.813rem;
    /*===== Margenes =====*/
    --mb-1: 0.5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;
    --mb-4: 2rem;
    --mb-5: 2.5rem;
    --mb-6: 3rem;
    /*===== z index =====*/
    --z-index: 100;
    /*===== Rotate img =====*/
    --rotate-img: rotate(-30deg);
}

@media screen and(min-width: 800px) {
    :root {
        --big-font-size: 1.5rem;
        --bigger-font-size: 2rem;
        --biggest-font-size: 3rem;
        --normal-font-size: 1rem;
        --smaller-font-size: 0.875rem;
    }
}



/* ---------------------------------- Base ---------------------------------- */



*, ::before, ::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    color: var(--dark-color);
    line-height: 1.6;
}

h1, h2, h3, p, ul {
    margin: 0;
}

ul {
    padding: 0;
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}
a{
    text-decoration: none;
    color: var(--dark-color);
}

/* -------------------------------- CLASS CSS ------------------------------- */
.section{
    padding: 5rem 0 2rem;
}

.section__title{
    position: relative;
    font-size: var(--biggest-font-size);
    margin-bottom: var(--mb-4);
    text-align: center;
    letter-spacing: .1rem;
    text-transform: uppercase;
}
.section__title::after{
    content: '';
    position: absolute;
    width: 200px;
    height: .18rem;
    top: -1rem;
    left: 0;
    right: 0;
    margin: auto;
    background-color: var(--dark-color);
}


/* --------------------------------- Layout --------------------------------- */



.bd-grid {
    justify-content: center;
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    column-gap: 2rem;
    width: calc(100% - 2rem);
    margin-left: auto;
    margin-right: auto;
}

.l-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-index);
    background-color: var(--sizzling-zunrise);
    height:70px;
}


/* ----------------------------------- Nav ---------------------------------- */


.nav{
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 768px){
    .nav__menu{
        position: fixed;
        top: var(--header-height);
        left: -100%;
        width: 70%;
        height: 100vh;
        padding: 2rem;
        background-color: var(--white-color);
        transition: .5s;
    }
}
.nav__item{
    margin-bottom: var(--mb-4);
}
.nav__logo{
    font-weight: var(--font-semi-bold);
}
.nav__toggle, .nav__shop{
    font-size: 1.3rem;
    cursor: pointer;
}
/*Show menu*/
.show{
    left: 0;
}

/* -------------------------------- Show menu ------------------------------- */
.show{
    left: 0;
}

.home{
    background-color: var(--white-color);
    box-shadow: 0 2px 4px rgb(0, 0, 0, .1);
}

.home__container{
    height: calc(90vh - var(--header-height));
}

.home__img{
    position: absolute;
    top: 1.5rem;
    max-width: initial;
    width: 275px;
} 
 .home__new{
    display: block;
    font-size: var(--smaller-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: var(--mb-2);
}

.home__title{
    font-size: var(--bigger-font-size);
    margin-bottom: var(--mb-1);
}
.home__description{
    margin-bottom: var(--mb-6)
} 

/* ---------------------------------- Home ---------------------------------- */


/* -------------------------------- featured -------------------------------- */
.featured__container{
    row-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}
.game{
    margin: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    filter: drop-shadow(0 12px 8px rgb(0,0,0,.1));
    border-radius: .5rem;
    transition: .3s;
}

.game__img{
    width: 400px;
    margin-top: var(--mb-3);
    margin-bottom: var(--mb-6);
    filter: drop-shadow(0 12px 8px rgb(0,0,0,.2));
}
.game__name,.game__price{
    font-size: var(--h2-font-size);
    letter-spacing: .1rem;
    font-weight: var(--font--bold);
    text-align: center;
}
.game__name{
    margin-bottom: var(--mb-1);
}
.game__price{
    margin-bottom: var(--mb-4);
}
.game:hover{
    transform: translateY(-.5rem);
}
.games__button{
    width: 120px;
    border: none;
    background-color: var(--sizzling-zunrise);
    font-size: 14px;
    padding: 10px 15px;

}
.aboutTheGame{
    font-size: var(--normal-font-size);
    
    letter-spacing: .1rem;
}

/* ------------------------------- newsletter ------------------------------- */
.newsletter__container{
    background-color: #fddb3a;
    color:var(--dark-color);
    padding: 2rem .5rem;
    border-radius: .5rem;
    text-align: center;
}
.newsletter__title{
    font-size: var(--bigger-font-size);
    margin-bottom: var(--mb-2);
}

.newsletter__description{
    margin-bottom: var(--mb-5);
}
.newsletter__subscribe{
    display: flex;
    column-gap: .5rem;
    background-color: var(--white-color);
    padding: .5rem;
    border-radius: .5rem;
}
.newsletter__input{
    outline: none;
    border: none;
    width: 90%;
    font-size: var(--normal-font-size);
}

.newsletter__input::placeholder{
    color: var(--dark-color);
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-semi-bold);
}

/* --------------------------------- footer --------------------------------- */
.footer{
    padding-left: 10px;
}
.footer__box{
    margin-bottom: var(--mb-3);
}
.footer__title{
    font-size: var(--big-font-size);
}
.footer__link{
    display: block;
    width: max-content;
    margin-bottom: var(--mb-1);
}
.footer__social{
    display: flex;
    font-size: 1.5rem;
    margin-right: 1.25rem;
    float: left;
    width: 20%;
    padding: 5px;
    align-content: center;
    position: relative;
    left: 25%;
}
.footer__copy{
    padding-top: 3rem;
    font-size: var(--smaller-font-size);
    color: var(--dark-color-light);
    text-align: center;
}

/* ----------------------------- About The Game ----------------------------- */

.game{
    margin: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    filter: drop-shadow(0 12px 8px rgb(0,0,0,.1));
    border-radius: .5rem;
    transition: .3s;
}

.aboutTheGame__img{
    width: 400px;
    margin-top: var(--mb-3);
    margin-bottom: var(--mb-6);
    filter: drop-shadow(0 12px 8px rgb(0,0,0,.2));
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.game__name,.game__price{
    font-size: var(--h2-font-size);
    letter-spacing: .1rem;
    font-weight: var(--font--bold);
    text-align: center;
}
.game__name{
    margin-bottom: var(--mb-1);
}
.game__price{
    margin-bottom: var(--mb-4);
}
.game:hover{
    transform: translateY(-.5rem);
}
.games__button{
    width: 125px;
    margin-top: 1rem;
    border: none;
    background-color: var(--sizzling-zunrise);
    font-size: 14px;
    padding: 10px 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.aboutTheGame{
    font-size: var(--normal-font-size);
    
    letter-spacing: .1rem;
}

/* ------------------------------- Media query ------------------------------ */


@media screen and (min-width: 768px){
    .nav{
        height: calc(var(--header-height) + 1.5rem);
    }
    .nav__menu{
        margin-left: auto;
    }
    .nav__list{
        display: flex;
        cursor: pointer;
    }
    .nav__item{
        margin-left: var(--mb-6);
        margin-bottom: 0;
    }
    .nav__toggle{
        display: none;
    }
    .section{
        padding: 7rem 0 3rem;
    }
    .section-title::after{
        width: 100px;
    }
    .footer__container{
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    }
}

@media screen and (min-width: 1024px) {
    .footer__container{
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    }
    .bd-grid{
        margin-left: auto;
        margin-right: auto;
    }
    .home__container{
        column-gap: 8rem;
    }
    .collection__container{
        grid-template-columns: repeat(2, 415px);
    }

    .game__img{
        max-width: 150%;
    }
}
